#answer, #footnote, .button {
  text-align: center;
  font-family: Helvetica;
  margin: 50px 15px 10px 10px;
}

.button {
  margin: 50px 15px 10px 60px ;
  padding: 10px 10px 10px 10px;
  border-radius: 0 10px 0px 10px;
  border: none;
  background-color: #33ADD6;
  color: white;
  font-size: 16px;
}

.button:visited, .button:hover{
  background-color:#000;
}

#answer {
  font-size: 75px; 
}

#footnote{
  font-size:16px;
  color: grey;
}
